/* default values */
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(61,25,71);
    background: linear-gradient(90deg, rgba(61,25,71,1) 0%, rgba(34,10,84,1) 50%, rgba(64,42,17,1) 100%);
    /*background-image: linear-gradient(to right top, #15183a, #171846, #1b1752,
    #22155d, #2c1067, #272077, #1c2e87, #003b96, #0057a6, #0070af, #0788b4, #4d9eb7);*/
    max-width: 100%;
    font-family: Raleway, serif;
    margin: 0;
    color: whitesmoke;
}

/* text selectors */
p{
    max-width: 70vw;
    color: white;
}

#introduction {
    padding: 2vw 0 200px 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 3.5vw;
}

h2 {

    font-weight: 200;
    line-height: normal;
    font-size: 2vw;
    margin: 0;
}

.header h2 {
    color: #60e8e8;
}

.title {
    margin: 2vw;
    font-size: 3.5vw;
}

.navText{
    font-size: 1.5vw;
}

.header {
    display: flex;
    flex-direction: row;
}

.description {

    padding-left: 10vw;
    margin: 0;
    opacity: 0;
    font-size: 0.1vw;


    -webkit-transition-property: opacity, font-size;
    -webkit-transition-duration: 0.2s;

}

.description.fade{

    font-size: 1vw;
    opacity: 1;
    -webkit-transition-property: opacity, font-size;
    -webkit-transition-duration: 0.2s;
}

.navigation {
    justify-content: center;
    position: absolute;
    bottom: 0;
    opacity: 1;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
}

.navigation.fade {
    opacity: 0;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
}

li{
    max-width: 90vw;
}

/* illustration selectors */

#portrait{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 4px white solid;
    position: relative;
    top: 3vw;
}

.arrow{
    width: 4vw;
    height: 3vw;
    position: relative;
    animation-iteration-count: infinite;
    animation-name: float;
    animation-duration: 2s;
}

.icon {
    height: 3vw;
    padding-right: 5px;
    position: relative;
    top: -3px;
}


#projectsimg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 4px white solid;
    width: 70vw;
}

figure img {
    height: 200px;
    width: auto;
}

/* Div selectors */
.skillList {
    width: 90vw;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    padding-top: 15vw;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15vw 5vw 0 5vw;
}

body, section, .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

/* functional selectors */
@keyframes float {
    0% {
        bottom: 0.5vw;
    }
    50% {
        bottom: 0;
    }
    100% {
        bottom: 0.5vw;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}


.arrow:hover, .header:hover{
    cursor: pointer;
}

.header:hover {
    left: 40px;

    -webkit-transition-property: left;
    -webkit-transition-duration: 0.2s;
}
