@media only screen and (max-width: 850px) {

}
@media only screen and (max-width: 700px){
    .intro{
        flex-direction: column;
        align-items: center;
    }

    #introduction {
        font-size: 7.5vw;
    }

    #portrait{
        width:  200px;
        height: 200px;
        margin-top: 40px;
    }

    h1 {
        padding: 2vw 0 200px 0;
        font-size: 8.5vw;
        text-align: center;
    }

    .title {
        font-size: 8.5vw;
    }

    nav{
        top: auto;
        bottom: 0;
        right: 0;
    }

    .dot {
        height: 20px;
        width: 20px;
        margin: 3px;
    }

    .navigation {
        display: none;
    }

    /*skills*/
    h2 {
        font-size: 6vw;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    p{
        max-width: 90vw;
    }

    .skillList {
        width: 95vw;
        display: flex;
        padding: 0 0 0 0;
        margin-top: 15vh;
    }

    .icon {
        height: 10vw;
        padding-right: 5px;
        position: relative;
        top: 1.8vw;
    }

    .description.fade{
        font-size: 4vw;
    }

    form {
        margin-top: 30vh;
    }


    .mobileItems {
        display: block;
    }


    /*modal box*/

    .content {
        flex-direction: column;
        width: 90%;
        height: 70vh;
    }

    .slideshow {
        height: 30vh;
        width: 90vw;

    }

    .close {
        padding-right: 20px;
        order: 1;
        position: relative;
        top: -22vh;
        left: 87vw;


    }
    .pic1, .pic2, .pic3 {
        order: 2;
        border-right: none;
        border-bottom: 4px solid rgba(38, 19, 57, 0.77);
        width: 90vw;
        height: 30vh;
    }

    .projectInfo {
        order: 3;
        padding: 30px;
        margin-left: 0;
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 450px) and (max-width: 700px){}

@media only screen and (min-width: 700px){

    /*navigation*/
    .dot {
        -webkit-transition-property: right;
        -webkit-transition-duration: 0.2s;
    }
    .dot:hover {
        cursor: pointer;

        right: 5px;

        -webkit-transition-property: right;
        -webkit-transition-duration: 0.2s;
    }

    /*skills*/
    .header {
        padding: 10px;
        width: 70vw;
        position: relative;
        left: 0;

        -webkit-transition-property: left;
        -webkit-transition-duration: 0.2s;
    }

}